head
  title YAUS - Yet Another URL Shortener
  link(rel='stylesheet', type='text/css', href='/static/css/style.css')
  link(rel='stylesheet', type='text/css', href='/static/vendor/css/bootstrap.min.css')

body
  h1.title(class="page-title-style") Welcome to YAUS
  div(class="redirect-container-style")
    if url
      p.redirect-text-style You're about to be redirected to #[a(id='url-link' class="redirect-link-style" href=url)=url]
      div.countdown-container
        p.countdown Redirecting #[span(id='countdown-timer') in 5 seconds]
    else
      p.redirect-text-style Url not found!
  script(src='/static/js/redirect.js')
